MONGO_URI=MongoDB_URI
NEXTAUTH_SECRET=Random_string
DOMAIN=localhost:3000

# SMTP Configuration
SMTP_HOST=mail.keerticreations.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sudipta@keerticreations.com
SMTP_PASS=your_smtp_password
SMTP_FROM=sudipta@keerticreations.com 